@charset "utf-8";

/* 메인 2a2a2a  서브 eeeeef */
/* header */
header {
    width: 100%;
    background: #2a2a2a;
    height: 60px;
}
.global_header {width:1220px; margin:auto; padding-top:8px;}
.global_header  h1 {float:left; margin-right:50px}
.global_left {
    float: left;
    width: 50%;
}
.global_left li {
    float: left;
    font-size:1.6rem;
    line-height: 44px;
}

.global_left li a {
    color: #dbdcdc;
    padding-right: 20px;
}

.global_right {
    float: right;
    width: 25%;
    box-sizing: border-box;
}

.global_right li {
    line-height: 50px;
    float: left;
}

.global_right li a {
    color: #dbdcdc;
    padding: 0 5px;
}

.global_right li:first-child a {
    background: #fff;
    color: #2a2a2a;
    padding: 5px 10px;
}

.global_left li:hover a {
    color: #fff;
    transition: all 0.7s
}

.global_right li:nth-child(even):hover a {
    color: #fff;
    transition: all 0.7s
}

.store_nav {
    width: 1200px;
    margin: auto;
    height: 200px;

}