@charset "utf-8";

.Verical {
    width:1220px;
    margin:50px auto 0;
}
.Verical::after {
    content:"";
    display:block;
    clear:both;
}
.Verical h3 {text-align: left;}
.Verical .card_content {
    width:244px;
    float:left;
    margin-right: 74px;
    background: #121212;
    position: relative;
}
.Verical .card_content:last-child {margin-right: 0;}
.Verical .card_content img {width: 100%; height: 100%;}
.Verical .card_meta {
    position: absolute;
    bottom:0;
    width:100%;
    background:#2e2e2e;
    padding:7px 0;
    opacity: 0.5;
    transition-duration:0.9s;
}
.Verical .card_content:hover .card_meta {
    opacity: 1;
}
.Verical .card_meta a {
    display:block;
    color:#fff;
    padding:10px 0;
    font-size:1.6rem;  
    text-align: center;
}